.bgImg {
 background: #33c3af url("../images/bgcat.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
}
p {
	margin-bottom: 0;
}

body {
	font-family: 'Signika', sans-serif;
	font-size: 16px;
}


.continueBtn {
	background: #ffce44;
	color: #552610;
	border: none;
	cursor: pointer;
	font-size: 1.3rem
}

.continueBtn:hover {
    background-color: #ffce44;
	color: #552610;
	border: none;
}